<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='A simple analysis of the browser stock chart icon.png') }}" type="image/png">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>explore</title>
</head>
<style>
    .faterView{
        width: 100vw;
        height: 100vh;
        background: black;
        /* border: 1px solid red; */
        color: aliceblue;
    }
    body{
        margin: 0;
    }
    .topMenu{
        width:fit-content;
        height: fit-content;
        border: 2px solid aliceblue;
        border-radius: 10px;
        /* white-space: nowrap;        */
        display: inline-block;
        padding: 4px;
        text-align: center;
        /* font-size: 20px; */
    }
    .showMenu{
        height: 5vh;
        padding: 1vh;
        user-select: none;
    }
    .showView{
        position: relative;
        display: flex;
        width: 99.5vw;
        height: 92.5vh;
        border: 1px solid white;
    }

    .show{
        position: absolute;
        width: 100%;
        height: 100%;
        visibility: hidden;
    }
    .ARank{
        /* border: 1px solid red; */
    }
    .AOverView{
        border: 1px solid green;
    }
    .USRank{
        border: 1px solid yellow;
    }
    .MyPicked{
        border: 1px solid blue;
    }
    #message {
        display: none; /* 默认不显示 */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border: 5px solid #ccc;
        z-index: 1000;

        border-radius: 10px;
        font-size: 100px;
    }
</style>
<body>
    <div class="faterView">
        <div class="showMenu">
            <div class="topMenu" onclick="show(0)">收藏</div>
            <div class="topMenu" onclick="show(1)">个股排行</div>
            <div class="topMenu" onclick="show(2)">美股排行</div>
            <div class="topMenu" onclick="show(3)">大盘视图</div>
            <div class="topMenu" style="border: 0"></div>
            <div class="topMenu" style="color: aqua;border:1px solid aqua;font-size: 13px; visibility: hidden;" id="refreshMenu" onclick="exploreReqest(IDX,0,'refresh')">刷新</div>
            <div class="topMenu" style="color: orange;border:1px solid orange;font-size: 13px; visibility: hidden;" id="jumpMenu">
                <input type="number" id="jumpTo" value="250" style = "width: 90px;">
                <div style="display: inline-block;padding-right: 5px;" onclick="exploreReqest(IDX,null,'jump');">跳到</div>
                <div style="display: inline-block;" onclick="exploreReqest(IDX,Number.parseInt(jumpTo.value),'plusJump');">增跳</div>
            </div>
            <div class="topMenu" style="color: orange;border:1px solid orange;font-size: 13px; visibility: hidden;" id="findMenu">
                <input type="text" id="toFind" value="000001" style = "width: 90px;">
                <div style="display: inline-block;padding-right: 5px;" onclick="exploreReqest(11,toFind.value);">查找</div>
            </div>

        </div>

        <div class="showView" id="showView">
            <div class="MyPicked show" id="MyPicked"></div>
            <div class="ARank show" id="ARank"></div>
            <div class="USRank show" id="USRank"></div>
            <div class="AOverView show" id="AOverView"></div>

            <div id="message"></div>

        </div>
    </div>    
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    let showView = document.getElementsByClassName("show")
    var message = document.getElementById('message')
    let findMenu = document.getElementById('findMenu')
    let refreshMenu = document.getElementById('refreshMenu')
    let jumpMenu = document.getElementById('jumpMenu')
    // let showView = document.getElementById("show")
    let showViewWidth = 0
    let showViewHeight = 0
    let IDX = 0
    let rowNum = 0
    let reciveed = {}
    let picked = []
    let jumpTo = document.getElementById("jumpTo")
    let toFind = document.getElementById("toFind")
    let ARankTitles = [["序号","代码","名称","最新价","涨跌幅","涨跌额","成交量","成交额","振幅","最高","最低","今开","昨收"
                        ,"量比","换手率","市盈率-动态","市净率","总市(亿)","流通市值(亿)","涨速","5分钟涨跌","60日涨跌幅","年初至今涨跌幅"]]
// 序号	代码	名称	最新价	涨跌幅	涨跌额	成交量	成交额	振幅	最高	最低	今开	
//  0	  1   	2	    3	    4	    5	    6	  7	    8	    9	    10	    11
// 昨收	量比	换手率	市盈率-动态	市净率	总市值	流通市值	涨速	5分钟涨跌	60日涨跌幅	年初至今涨跌幅
// 12    13	    14	    15	       16	   17	   18	    19	    20	        21	        22
    let ARankPickedColumns = [
        0,1,2,4,3
        ,6,14,15,16,13
        ,21,22,8,11
        ,17,18]
    let ARankInnerDivsWidth = [
        50,70,90,70,70
        ,70,60,90,70,50
        ,100,120,70,70,100
        ,100]

    function handleScroll(){
        // 阻止默认行为（可选）
        event.preventDefault();
        // 获取滚动方向
        var deltaY = event.deltaY;
        if (deltaY > 0) {
        exploreReqest(IDX,2);       
        console.log(IDX,'向下滚动');
        } else if (deltaY < 0) {
        exploreReqest(IDX,-2); 
        console.log(IDX,'向上滚动');
        }
    }
    
    function show(idx){
        // if(idx == 0 || idx == 1){findMenu.style.visibility = "visible";}
        // else{findMenu.style.visibility = "hidden";}
        if(idx == 1){findMenu.style.visibility = "visible";jumpMenu.style.visibility = "visible";refreshMenu.style.visibility = "visible";}
        else{findMenu.style.visibility = "hidden";jumpMenu.style.visibility = "hidden";refreshMenu.style.visibility = "hidden";}
        for(i=0;i<4;i++){
            if(i == idx){
                showView[i].innerHTML = ""
                showView[i].style.visibility = "visible"
                exploreReqest(i,0)
              
                IDX = idx
                showView[i].addEventListener('wheel', handleScroll);
            }
            else{
                showView[i].style.visibility = "hidden"
                showView[i].removeEventListener('wheel', handleScroll);
            }
        }
    }
    
    function exploreReqest(idx,extra,extra2,extra3){
        var attr2 =0
        var attr3 =0
        var attr4 =0
        var attr5 =null
        switch(idx){
                case 0:attr2 = picked;break
                case 1:{
                    if(extra2=="refresh"){attr2 = 1;console.log(idx,"sdfa")}
                    if(extra == 0){attr3=0}
                    else{
                        if((reciveed.data.length<3 && extra>0) || (reciveed.data.length<1)){extra=0;}
                        else{attr3 = reciveed.data[0][0]}
                        attr3 = attr3+extra-1
                        if(attr3<0){attr3=0;}
                    }
                    if(extra2=="jump"){
                        attr3=Number.parseInt(jumpTo.value)-1;
                    }
                    attr4 = rowNum
                    break
                }
                case 2:break
                case 3:break
                case 11:attr2 = extra;break

        }
        console.log("JSON",idx,attr2,attr3,attr4)

        $.ajax({
        url: '/explore/exploreReqest',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({"agent":"explore","attr1":idx,"attr2":attr2,"attr3":attr3,"attr4":attr4,"attr5":attr5}),  // 打包为JSON格式
        success: function(response) {
            console.log(response)
            if(idx==10){
                picked = response.data
                picked.reverse() 
            }
            if(idx==1 || idx==11){
                reciveed = response
                if(reciveed.data.length<=0){
                    messages("red","failed!")
                }
                ARank(1,rowNum);

            }
            if(idx==0){
                reciveed = response
                if(reciveed.data.length<=0){
                    messages("red","failed!")
                }
                ARank(0,rowNum);
            }
        },
        error: function(error) {
            $('#result').text('Error:', error)
            messages("red","error!")
        }
        });
    }

    function createRanksInnerDivs(data,width){
        var newDiv = document.createElement("div");
        newDiv.textContent = data;
        newDiv.style.display = "flex"
        newDiv.style.width = width+"px"
        newDiv.style.height = "100%"
        newDiv.style.fontSize = '12px'
        newDiv.style.border = "1px solid white"; 
        newDiv.style.justifyContent = "center"; /* 水平居中 */
        newDiv.style.alignItems = "center";
        return newDiv
    }
    
    function messages(color,messages){
        message.style.display = 'block'
        message.style.color = color
        message.textContent = messages
        message.style.border = "5px "+color+" solid"
        setTimeout(function() {
            message.style.display = 'none'
        }, 500);
    }

    function exploreSimpleReqest(type,data,ele){//pickup,open
        // console.log("exploreSimpleReqest(type,data,ele)",type,data,ele)
        $.ajax({
            url: '/explore/exploreSimpleReqest',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({"agent":"explore","type":type,"data":data}),  // 打包为JSON格式
            success: function(response) {
                console.log(response)
                if(response.data[0]=="successfully!"){
                    messages("aqua",type)
                    if(type == "pickup"){
                        if(picked.includes(data)){
                            ele.style.background = ""
                            // ele.style.color = ""
                        }
                        else{
                            ele.style.background = "red"
                            // ele.style.color = "black"
                        }
                        exploreReqest(10,data);
                    }
                }else{
                    messages("red","failed!")
                }
            },
            error: function(error) {
                $('#result').text('Error:', error)
                messages("red","error!")
            }
        })
    }

    function pickupEvent(){
        exploreSimpleReqest("pickup",this.textContent,this)
    }

    function openEvent(){
        exploreSimpleReqest("open",[this.previousElementSibling.textContent,this.textContent])
    }
    
    function mouseoverEvent(){
        this.style.background = "red"
        this.style.color = ""
    }
    function mouseoutEvent(){
        this.style.background = ""
        this.style.color = ""
    }

    function createDivs(idx,data,picks,start,end){
        for(var i = 0;i<data.length;i++){
            var newDiv = document.createElement("div");
            newDiv.style.display = "flex"
            newDiv.style.width = "100%"; 
            newDiv.style.height = "16px"; 
            newDiv.style.border = "1px solid white"; 
            newDiv.style.alignItems = "center";
            // newDiv.appendChild(createRanksInnerDivs("收藏",40))
            for(var j = start;j<end;j++){
                innerDiv = createRanksInnerDivs(data[i][picks[j]],ARankInnerDivsWidth[j])
                if(picks[j]==1){
                    innerDiv.addEventListener('dblclick', pickupEvent);
                    if(picked.includes(data[i][picks[j]])){
                        innerDiv.style.background = "red";
                        // innerDiv.style.color = "black" 
                    }
                }
                else if(picks[j]==2){
                    innerDiv.addEventListener('dblclick', openEvent);
                }
                // else if(picks[j]==4){
                //     if(data[i][picks[j]]>0){innerDiv.style.color="#f22133"}
                //     else if(data[i][picks[j]]<0){innerDiv.style.color="#77f48c"}                    
                // }
                newDiv.appendChild(innerDiv)
            }
            newDiv.addEventListener('mouseover',mouseoverEvent);
            newDiv.addEventListener('mouseout',mouseoutEvent);
            showView[idx].appendChild(newDiv);
        }
    }

    function MyPicked(idx,rowNum){
        showView[idx].innerHTML = ""
        showView.innerHTML = reciveed.data
        console.log(showView.innerHTML)

    }
    function ARank(idx,rowNum){
        showView[idx].innerHTML = ""
        for(var i = 0;i<reciveed.data.length;i++){
            if(reciveed.data[i]!=null){
                reciveed.data[i][17] = Number.parseInt((reciveed.data[i][17])/10000000)/10
                reciveed.data[i][18] = Number.parseInt((reciveed.data[i][18])/10000000)/10                
            }
        }
        createDivs(idx,ARankTitles,ARankPickedColumns,0,17)
        createDivs(idx,reciveed.data,ARankPickedColumns,0,17)
        // createDivs(idx,reciveed.data,0,3)
    }
    function USRank(idx,rowNum){
        showView[idx].innerHTML = ""
        showView.innerHTML = reciveed.data
        console.log(showView.innerHTML)
        
    }
    function AOverView(idx,rowNum){
        showView[idx].innerHTML = ""
        showView.innerHTML = reciveed.data
        console.log(showView.innerHTML)
        
    }


    //固定方法//////////////////////////////////////////////////////////
    window.onload = function() {
        exploreReqest(10)
        // 选择需要监听的元素
        const element = document.getElementById('showView');
        // 创建 ResizeObserver 实例
        const resizeObserver = new ResizeObserver(entries => {
        for (let entry of entries) {
            const { width, height } = entry.contentRect; // 获取元素的宽度和高度
            showViewWidth = width
            showViewHeight = height
            console.log(Math.floor(height),(Math.floor(height)-17.8),(Math.floor(height)-17.8)/17.8)

            rowNum = Math.floor(((Math.floor(height)-18)/18))
            console.log("container: width",width,"height",height,"row",rowNum)
        }
        });
        // 监听该元素
        resizeObserver.observe(element);        
    }

</script>
</html>


<!-- 
showView[i].addEventListener('click', function() {alert('按钮被点击了！');});   
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
-->